body{
	background-color: #c35454 ;
}
.container{
	width: 100%;
	margin-left: 10px;
	margin-top: 20px;
	margin: auto;
	border: 2px solid black;
	
}
.header{
	align-content: top;
 	justify-content: center;
  	text-align: center;
  	font-family:  'Baloo Paaji 2', cursive;
  	font-size: 24px;
	color:whitesmoke;
	text-decoration: underline;
}
article{
	align-content: right;
	font-family:  'Baloo Paaji 2', cursive;
  	font-size: 20px;
  	color: rgb(238, 221, 222);
}

img{
	border-radius: 20px;
	width: 50%;
	height: 40%;
	margin:15px;
}
figcaption{
	color:antiquewhite ;
}
.footer{
	align-content: bottom;
	font-family:  'Baloo Paaji 2', cursive;
  	font-size: 20px;
}
h2{
	color:rgb(112, 6, 98);
	font-family:  'Baloo Paaji 2', cursive;
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}
figcaption{
	color:rgb(112, 6, 98);
	font-size: 1.5em;
	text-align: left;
}
p{
	color:whitesmoke;
}
